<!--<sb-layout-dashboard [light]="true"><sb-dashboard-head title="Dashboard Light" [hideBreadcrumbs]="false"></sb-dashboard-head><sb-dashboard-cards></sb-dashboard-cards><sb-dashboard-charts></sb-dashboard-charts><sb-dashboard-tables></sb-dashboard-tables></sb-layout-dashboard>-->
<div class="mainbg">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-12 ">
                <div class="page-header">
                    <h2>Sales</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Sales</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Anna Nagar</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-xl-8 col-md-12">
                <div class="branch-sales-block">
                    <span class="left"><img src="../../../../assets/img/Back Arrow.png"></span>
                    <p>&#8377; 54,500</p>
                    <span class="right"><img src="../../../../assets/img/Front Arrow.png"></span>
                    <div class="date-picker">
                        <p>09-09-2021</p>
                    </div>
                </div>
            </div>
         </div>
         <div class="branch-sales-section">
         <div class="row">
             <div class="col-xl-4 col-md-6">
                 <div class="sales-types">
                <img src="../../../../assets/img/Category Wise Icon.png">
                 </div>
                <div class="total-sales-block">
                     <p>Category-Wise <br>Sales</p>
                </div>
             </div>
             <div class="col-xl-4 col-md-6">
                <div class="sales-types">
                <img src="../../../../assets/img/Item Wise.png">
                </div>
                <div class="total-sales-block">
                    <p>Item-Wise <br>Sales</p>
               </div>
            </div>
         </div>
        </div>
    </div>
</div>
